.weather-details__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--size-middle);
  width: 50.6rem;
  margin-inline: auto;

  @media screen and (width <= 768px) {
    width: 52.08rem;
  }

  @media screen and (width <= 640px) {
    width: fit-content;
    max-width: 52rem;
  }
}

.weather-details__list-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 15.8rem;
  height: 19.6rem;
  border-radius: var(--border-radius);
  background-color: var(--bg-color-light);
  row-gap: var(--size-middle);
  padding: var(--size-middle);
  padding-top: 2rem;
  text-align: center;
  color: var(--color-black);
  & img {
    width: 3.2rem;
    height: 3.2rem;
  }

  @media screen and (width <= 768px) {
    width: 16.666rem;
    height: 19.27rem;
  }

  @media screen and (width <= 640px) {
    width: 100%;
    padding: 1.5625rem;
  }
}

.item-title {
  font-family: var(--font-family-bold);
  font-size: var(--font-size-base);
}

.item-icon {
  width: var(--size-big);
  height: var(--size-big);
}

.item-value {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-normal);

  @media screen and (width <= 768px) {
    line-height: 1.2;
  }
}

.item-meteobar {
  display: flex;
  flex-direction: column;
  row-gap: var(--size-small);
  width: 100%;
}

.item-meteobar__bar {
  --track-height: var(--size-small);
  --circle-size: var(--size-small);
  --mask-size: calc(var(--circle-size) + 4px);
  --mask-transparent: radial-gradient(
    circle at calc(var(--circle-size) / 2 + (100% - var(--circle-size)) * var(--center-circle) / 100) center,
    black calc(var(--track-height) / 2),
    transparent calc(var(--track-height) / 2),
    transparent calc(var(--mask-size) / 2),
    black calc(var(--mask-size) / 2)
  );
  background: transparent;
  appearance: none;
  width: 100%;
  height: var(--circle-size);
  &:focus {
    outline: none;
  }
  &::-webkit-slider-runnable-track {
    height: var(--track-height);
    width: 100%;
    background-color: var(--bg-color-light-accent);
    border-radius: var(--track-height);
    mask: var(--mask-transparent);
  }
  &::-moz-range-track {
    height: var(--track-height);
    width: 100%;
    background-color: var(--bg-color-light-accent);
    border-radius: var(--track-height);
    mask: var(--mask-transparent);
  }
  &::-ms-track {
    background: transparent;
    border-color: transparent;
    color: transparent;
    width: 100%;
    height: var(--size-small);
    border-radius: var(--border-radius);
  }

  &::-webkit-slider-thumb {
    appearance: none;
    width: var(--circle-size);
    height: var(--circle-size);
    background-color: #f5f4f4;
    border-radius: 50%;
    border: unset;
  }
  &::-moz-range-thumb {
    appearance: none;
    width: var(--circle-size);
    height: var(--circle-size);
    background-color: #f5f4f4;
    border-radius: 50%;
    border: unset;
  }
  &::-ms-thumb {
    appearance: none;
    width: var(--circle-size);
    height: var(--circle-size);
    background-color: #f5f4f4;
    border-radius: 50%;
    border: unset;
  }
}

.item-meteobar__bar--progress {
  --box-shadow: 1px 0 3px 1px rgba(17, 17, 26, 0.08);
  --background-progress-bar: #dadada66;
  &::-webkit-slider-runnable-track {
    background: var(--background-progress-bar);
  }
  &::-moz-range-track {
    background: var(--background-progress-bar);
  }
  &::-ms-track {
    background: var(--background-progress-bar);
  }
}

.item-meteobar__bar--pressure {
  --background-pressure-bar: radial-gradient(
    50% 9453.13% at 50% 50%,
    rgba(84, 84, 84, 0.4) 0%,
    rgba(138, 138, 138, 0.4) 45.12%,
    #dadada 100%,
    rgba(218, 218, 218, 0.4) 100%
  );
  &::-webkit-slider-thumb {
    background-color: var(--color-light);
  }
  &::-moz-range-thumb {
    background-color: var(--color-light);
  }
  &::-ms-thumb {
    background-color: var(--color-light);
  }
  &::-webkit-slider-runnable-track {
    background: var(--background-pressure-bar);
  }
  &::-moz-range-track {
    background: var(--background-pressure-bar);
  }
  &::-ms-track {
    background: var(--background-pressure-bar);
  }
}

.item-meteobar__description {
  color: rgba(57, 57, 57, 1);
  font-family: var(--font-family-semibold);
  font-size: var(--font-size-sm);

  @media screen and (width <= 640px) {
    font-size: 1.302rem;
  }
}

.item-meteobar__description:has(span + span) {
  display: flex;
  justify-content: space-between;
}
