footer {
  height: 8.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__link {
  color: var(--color-light);
}

@media screen and (width <= 887px) {
  footer {
    height: 12rem;
  }
}

@media screen and (width <= 768px) {
  footer {
    height: 11rem;
  }
}
