footer {
  height: 8.4rem;
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (width <= 1024px) {
    height: 12rem;
  }

  @media screen and (width <= 768px) {
    height: 11rem;
  }
}

.footer__link {
  color: var(--color-light);
}
