.header__logo {
  /* width: if(media(width > var(--breakpoint-large)): 19.2rem; else: 5.4rem;); */
  /* жаль не поддерживается :)  */
  height: 4.8rem;
  &#desktop {
    width: 19.2rem;
  }
  &#mobile {
    width: 5.4rem;
    display: none;
  }
}

.header__search-form {
  position: relative;
  margin: 0;
}

.header__search-input {
  font-size: var(--font-size-md);
  width: 100%;
  padding: 1.2rem 5.6rem 1.2rem 1.6rem;
  border: unset;
  outline: none;
  border-radius: var(--border-radius);
  background-color: var(--bg-color-light);
  color: var(--color-black);
  transition: background-color 100ms ease;
}

.header__search-input:hover,
.header__search-input:focus,
.input--active {
  background-color: var(--bg-color-light-accent);
}

.header__search-type {
  position: absolute;
  top: 0;
  right: 0;
  z-index: var(--z-index-base);
}

.header__search-icon {
  color: var(--color-dark);
}

.header__search-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: unset;
  padding: 0;
  width: 5.6rem;
  height: 4.8rem;
  user-select: none;
  & svg {
    width: 2.4rem;
    height: 2.4rem;
  }
}

.type--clear:hover svg {
  filter: brightness(40%) contrast(120%) grayscale(100%);
  /* цвет крестика #202020 кода фокус инпута исчез */
}

.button--remove {
  display: none;
}

@media screen and (width <= 1024px) {
  .header__logo#desktop {
    display: none;
  }
  .header__logo#mobile {
    display: block;
  }
  .header.grid {
    grid-template-columns: max-content 1fr;
    column-gap: 13.5rem;
    search {
      margin-left: auto;
      width: 100%;
    }
  }
}

@media screen and (width <= 768px) {
  .header__logo#mobile {
    width: 4rem;
    height: 4rem;
  }
  .header.grid {
    column-gap: 17.578rem;
  }
  .header__search-input {
    padding: 1.0416rem 5.2rem 1.0416rem 1.5625rem;
  }
  .header__search-button {
    height: 4rem;
  }
}

@media screen and (width <= 639px) {
  .header.grid {
    column-gap: clamp(2.0833rem, calc(60vw - 30rem), 17.578rem);
  }
}
