.header__logo {
  width: 19.2rem;
  height: 4.8rem;
  user-select: none;
}

.header__search-form {
  position: relative;
  margin: 0;
}

.header__search-input {
  font-size: var(--font-size-20);
  width: 50.6rem;
  padding: 0.6em 0.8em;
  border: none;
  outline: none;
  border-radius: var(--border-radius);
  background-color: var(--bg-color-light);
  color: var(--color-grey);
  transition: background-color 100ms ease;
}

.header__search-input:hover,
.header__search-input:focus,
.input--active {
  background-color: var(--bg-color-light-accent);
}

.header__search-type {
  position: absolute;
  top: 0;
  right: 0;
  z-index: var(--z-index-base);
}

.header__search-icon {
  color: var(--color-dark);
}

.header__search-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 0;
  width: 5.6rem;
  height: 4.8rem;
  user-select: none;
  & img {
    width: 2.4rem;
    height: 2.4rem;
  }
}

.type--clear:hover {
  filter: brightness(40%) contrast(120%) grayscale(100%);
  /* цвет крестика #202020 кода фокус инпута исчез */
}

.button--remove {
  display: none;
}
