.main {
  padding-bottom: 0 !important;
}
.weather-info {
  display: grid;
  row-gap: clamp(2.4rem, calc(8vw - 3rem), 5.2rem);
  text-align: center;
  padding-inline: 2rem;
}

.weather-info__user-location {
  display: grid;
  row-gap: 1rem;
  font-size: var(--font-size-md);
}

.user-location-town {
  font-size: var(--font-size-lg);
  font-family: var(--font-family-semibold);
  line-height: 1.3;
}

.weather-info__degrees {
  font-family: var(--font-family-bold);
  font-size: var(--font-size-2xl);
}

.weather-info__weather {
  font-size: var(--font-size-md);
  display: grid;
  row-gap: 0.4em;
}

.weather-type {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: var(--size-small);
  & svg {
    height: 2.4rem;
    width: 2.4rem;
  }
}

@media screen and (width <= 887px) {
  .weather-info {
    row-gap: 2.4rem;
  }
}

@media screen and (width <= 768px) {
  .weather-info__user-location time:last-child {
    line-height: 0.5;
  }
}
