.slider {
  height: 19.2rem;
  grid-column: 1 / -1;
  padding-block-start: var(--size-big);
  display: flex;
  flex-direction: column;
  row-gap: 3rem;

  @media screen and (width <= 1024px) {
    height: unset;
    padding-block-start: unset;
    row-gap: 2.4rem;
  }
  @media screen and (width <= 768px) {
    row-gap: 2.0844rem;
  }
  @media screen and (width <= 640px) {
    row-gap: 2rem;
  }
}

.slider__heading {
  display: flex;
  align-items: center;
  column-gap: var(--size-big);
}

.slider__heading-title {
  font-size: var(--font-size-lg);
  font-family: var(--font-family-bold);
}

.slider__heading-tab {
  font-size: var(--font-size-base);
  font-family: var(--font-family-bold);
  color: var(--color-grey);
  line-height: 2.3;
  border: unset;
  padding: 0;

  &.active {
    color: var(--color-light);
  }

  &.active,
  &:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 0.7rem;
  }

  @media screen and (width <= 1024px) {
    line-height: 1.8;
  }
}

.slider__wrapper {
  display: flex;
  align-items: center;
}

.slider__control {
  background-color: var(--bg-color-light);
  border: unset;
  border-radius: var(--border-radius);
  padding: 1.2rem var(--size-middle);

  & img {
    min-width: 2.4rem;
  }

  &:hover:not(:disabled) {
    background-color: var(--bg-color-light-accent);
  }

  &:disabled {
    opacity: 0.5;
    cursor: default;

    &.control--left ~ .slider__list {
      mask: linear-gradient(to right, #0000 16px, #000 16px, #000 calc(100% - 32px), #0000 calc(100% - 16px));
    }
  }

  &.control--right {
    order: 1;
    transform: rotate(180deg);
  }

  @media screen and (width <= 768px) {
    padding: 0.7rem 1.3rem;
  }
}

.slider__list {
  --mask: linear-gradient(to right, #0000 16px, #000 32px, #000 calc(100% - 32px), #0000 calc(100% - 16px));
  display: flex;
  align-items: center;
  column-gap: 1.7rem;
  overflow-x: auto;
  padding-inline: var(--size-big);
  scrollbar-width: none;
  mask: var(--mask);

  @media screen and (width <= 1024px) {
    column-gap: 1.2rem;
  }
}

.item-inner {
  background-color: var(--bg-color-light);
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  padding: var(--size-middle);
  width: max-content;
  gap: var(--size-middle);
  font-size: var(--font-size-base);
  color: var(--color-black);
  cursor: default;
  white-space: nowrap;

  img {
    width: 3.2rem;
    height: 3.2rem;
  }

  @media screen and (width <= 886px) {
    flex-direction: column;
    padding-top: 2.4rem;
  }

  @media screen and (width <= 768px) {
    flex-direction: row;
    padding: 1.5625rem var(--size-big);
  }

  @media screen and (width <= 376px) {
    flex-direction: column;
    gap: 1.5625rem;
    padding: 2.0844rem 1.5625rem;
  }
}
