.slider {
  height: 19.2rem;
  grid-column: 1 / 3;
  padding-block-start: var(--size-big);
  display: flex;
  flex-direction: column;
  row-gap: 2.9rem;
}

.slider__heading {
  display: flex;
  align-items: center;
  column-gap: var(--size-big);
}

.slider__heading-title {
  font-size: var(--font-size-24);
  font-family: var(--font-family-bold);
}

.slider__heading-tab {
  font-size: var(--font-size-16);
  font-family: var(--font-family-bold);
  color: var(--color-grey);
  line-height: 35px;
  border: unset;
  padding: 0;
  &.active {
    color: var(--color-light);
  }
}

.slider__heading-tab.active,
.slider__heading-tab:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 0.7rem;
}

.slider__wrapper {
  display: flex;
  align-items: center;
}

.slider__control {
  background-color: var(--bg-color-light);
  border: unset;
  border-radius: var(--border-radius);
  padding: 1.2rem var(--size-middle);
  svg {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &:hover:not(&[disabled]) {
    background-color: var(--bg-color-light-accent);
  }
  &:disabled {
    opacity: 0.5;
    cursor: default;

    &.control--left ~ .slider__list {
      mask: linear-gradient(to right, #0000 16px, #000 16px, #000 calc(100% - 32px), #0000 calc(100% - 16px));
    }
  }
  &.control--right {
    order: 1;
    transform: rotate(180deg);
  }
}

.slider__list {
  --mask: linear-gradient(to right, #0000 16px, #000 32px, #000 calc(100% - 32px), #0000 calc(100% - 16px));
  display: flex;
  align-items: center;
  column-gap: var(--size-middle);
  overflow-x: auto;
  padding-inline: var(--size-big);
  scrollbar-width: none;
  mask: var(--mask);
}

.item-inner {
  background-color: var(--bg-color-light);
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  padding: var(--size-middle);
  width: fit-content;
  column-gap: var(--size-middle);
  font-size: var(--font-size-16);
  color: var(--color-black);
  cursor: default;
  text-wrap: nowrap;
}
