html {
  font-size: var(--root-persent);

  @media screen and (width <= 768px) {
    font-size: var(--root-persent-mobile);
  }
}
body {
  font-family: var(--font-family-regular);
  font-size: var(--font-size-base);
  font-variant-numeric: lining-nums;
  color: var(--color-light);
  background: var(--bg-color-layer)
    image-set(
      url("../../../public/img/bg-image.webp") type("image/webp"),
      url("../../../public/img/bg-image.jpg") type("image/jpeg")
    )
    no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  margin: var(--size-big) max(calc((100vw - var(--default-container-width)) / 2), var(--size-big));
  /* calc(..) - тоже что и "auto", max() - выбирает наибольшее из 2 */

  @media screen and (width <= 640px) {
    padding: 16px;
    min-width: 375px;
    margin: 0;
  }
}

.container {
  > * {
    padding: var(--size-big);

    @media screen and (width <= 1024px) {
      &:not(.footer) {
        padding: var(--size-big);
      }
    }
  }
}
