html {
  font-size: 62.5%; /* 62.5% of 16px = 10px */
}
body {
  font-family: var(--font-family-regular);
  font-size: 1.6rem; /* for consistency to 62.5% */
  font-variant-numeric: lining-nums;
  color: var(--color-light);
  background-color: var(--bg-layer-blur);
  background-image: image-set(
    url("../../../public/img/bg-image.webp") type("image/webp"),
    url("../../../public/img/bg-image.jpg") type("image/jpeg")
  );
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.container > * {
  padding: 3.2rem;
}
