.container {
  background-color: var(--bg-color-layer);
  backdrop-filter: blur(25px);
  border-radius: var(--border-radius);
  max-width: var(--default-container-width);
  width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 50.6rem;
  align-items: center;
  column-gap: 1.6rem;
  row-gap: 3.2rem;

  @media screen and (width <= 1024px) {
    &.main {
      grid-template-columns: 1fr 1fr 1fr;
      row-gap: 4.8rem;

      > * {
        grid-column: 1 / -1;
      }
    }
  }

  @media screen and (width <= 768px) {
    &.main {
      row-gap: 4rem;
    }
  }

  @media screen and (width <= 768px) {
    &.main {
      row-gap: 3.7rem;
    }
  }
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}
