:root {
  --z-index-base: 0;
  --font-family-regular: "raleway-regular", sans-serif;
  --font-family-semibold: "raleway-semibold", sans-serif;
  --font-family-bold: "raleway-bold", sans-serif;

  --font-size-112: 11.2rem;
  --font-size-32: 3.2rem;
  --font-size-20: 2rem;
  --font-size-24: 2.4rem;
  --font-size-16: 1.6rem;
  --font-size-12: 1.2rem;

  --color-light: rgba(245, 244, 244, 1);
  --color-grey: rgba(112, 112, 112, 1);
  --color-dark: rgba(84, 84, 84, 1);
  --color-black: rgba(32, 32, 32, 1);
  --bg-color-light: rgba(245, 244, 244, 0.4);
  --bg-color-light-accent: rgba(218, 218, 218, 1);
  --bg-color-layer: rgba(112, 112, 112, 0.1);

  --border-radius: 8px;
}
